body{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color:rgb(0, 251, 255);
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

form{
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

input[type="text"],
 input[type="date"],
 input[type="number"],
 input[type="range"] {
      padding: 10px;
      margin: 5px 0;
      border: 1px solid #dddfe2;
      border-radius: 5px;     
}

.btn{
    border-radius: 100px;
    font-size: 10px;
}